
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    background-color: white;
    color: #444;
  }

  #visual-essay {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    scroll-behavior: smooth;
    color: #000;
  }

  #visual-essay.default {
    /* margin: 0 3rem; */
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section,
  summary {
    display: block;
  }

  h1, h2, h3, h4, h5, h6, figure { content: ""; display: table !important;; clear: both; }
  br { clear: both; }

  ::-moz-selection {
    background-color: hsla(0,0%,0%,.5);
    color: #fff;
    text-shadow: none;
  }
  ::selection {
    background-color: hsla(0,0%,0%,.5);
    color: #fff;
    text-shadow: none;
  }
  a {
    color: #219653 !important;
  }
  a:focus {
    outline: thin dotted;
  }
  a:active,
  a:hover {
    outline: 0;
    cursor: pointer;
    color: #166337 !important;
  }
  strong {
    font-weight: bold;
  }
  mark {
    background: #ff6;
    color: #444;
  }
  code,
  pre {
    font-family: monospace, serif;
    font-size: 1em;
  }
  pre {
    white-space: pre;
  }
  img {
    border: 0;
    max-width: 100%;
    vertical-align: top;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
  }
  button,
  input {
    line-height: normal;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  p {
    margin: 1rem 0;
    line-height: 1.5;
    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5
  h6 {
    font-weight: bold;
    line-height: 1;
    margin: 0.6em 2rem 0.6em 0;
    display: inline-block;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.25rem;
  }

  blockquote {
    margin: 0 4em 0 2em;
    border-left: 6px solid #ddd;
    text-align: justify;
    -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }
  blockquote p {
    margin-left: 16px;
    line-height: 1.4em !important;
    font-size: 1em;
    font-style: italic;
  }
  p a:link,
  p a:visited {
    /*
    border-bottom: 2px solid #6af;
    color: #444;
    padding-bottom: 1px;
    */
    text-decoration: none;
    -webkit-transition: .25s;
        -moz-transition: .25s;
        -ms-transition: .25s;
          -o-transition: .25s;
            transition: .25s;
  }
  p a:hover,
  p a:focus {
    color: #193d85;
  }
  p a:active {
    position: relative;
    top: 1px;
    -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
          -o-transition: none;
            transition: none;
  }
  dl,
  ol,
  ul {
    font-size: 1em;
    margin: 0 2rem 0 0;
    padding-left: 1.5rem;
  }
  dd,
  dt,
  li {
    line-height: 2em;
    padding-left: 0.2em;
    margin: 0;
  }

  section:after {
    content: "";
    display: table !important;
    clear: both;
  }

  .dropshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .border {
    border:1px solid #aaa;
  }
  
  .thumbimage, .thumbnail {
    border: 1px solid #ccc;
    /*
    width: 150px;
    height: 150px;
    object-fit: cover;
    */
    width: 100px;
  }

  .thumb-100w {
    width: 100px;
  }

  .thumb-200w {
    width: 200px;
  }

  .thumb-300w {
    width: 300px;
  }

  .thumbcaption {
    margin-top: 6px;
    margin-bottom: 18px;
    font-weight: bold;
    text-align: center;
  }

  figure {
    max-width: 40%;
    font-weight: bold;
    font-size: 1.0rem;
    text-align: center;
    margin: 0 12px 12px 0;
  }
        
  figcaption {
    padding: 6px;
    line-height: 1.1rem;
    font-size: 1.2em;
  }

  .left { 
    float: left !important;
    margin: 8px 18px 0 0 !important;
  }

  .right {
    float: right !important;
    margin: 8px 0 0 18px !important;
  }

  .border {
    border: 1px solid #aaa;
  }

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */